.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 40px;
    background-color: blue;
    text-align: center;
    color: white;
}

.btn {
    color: white;
    border-width: 0.1rem;
    border-color: white;
    margin-right: 2rem;
    margin-left: 2rem;
}